@model Restaurant_POS_System.Models.Category

@{
    ViewData["Title"] = "Edit Category";
}


<!-- Centered Card for the Form -->
<div class="d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="card shadow" style="width: 30rem; padding: 20px;">
        <div class="card-body">
            <h4 class="card-title text-center">Edit Category</h4>
           

            <!-- Form -->
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CategoryId" />

                <!-- Category Name Input -->
                <div class="form-group mb-3">
                    <label asp-for="CategoryName" class="form-label">Category Name</label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>

                <!-- Save Button -->
                <div class="d-flex justify-content-center gap-2">
                    <button type="submit" class="btn btn-primary px-4">Save</button>
                    <a class="btn btn-info" asp-action="Index" class="text-decoration-none px-4">Back to List</a>
                </div>
            </form>

       

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
